<link rel="stylesheet" href="/styles/lists.css">
<!-- student lists for home page and interview page created here  -->
<div class = "list student-list">
  <% if(studentList){ for(let student of studentList){%>
    <div id = <%= student._id %>>
      <div class = "student-name-status">
        <h2><%= student.name %></h2>
        <!-- if user is authenticated then we will show the controls to update the student status else he/she can only read -->
        <% if(!locals.user){%>
          <% if(student.status ==="Placed"){%>
          <p class = "green"><bold>Placed</bold></p>
          <%}else if(student.status ==="Not Placed"){%>
            <p class = "red"><bold>Not-Placed</bold></p>
          <%}else{%>
            <p class = "yellow"><bold>provid data</bold></p>
          <%}%>
        <%}else{%>
          <form action="/student/update/<%=student.id%>" method="post">
            <% if(student.status ==="Placed"){%>
              <select class = "green" id="select-status" name="status" onchange="this.form.submit()">
                <option value="Placed" selected>Placed</option>
                <option value="Not Placed" >Not placed</option>
                <option value="Unknown">Unknown</option>
              <%}else if(student.status ==="Not Placed"){%>
              <select class = "red" id="select-status" name="status" onchange="this.form.submit()">
                <option value="Placed" >Placed</option>
                <option value="Not Placed" selected >Not placed</option>
                <option value="Unknown">Unknown</option>
              <%}else{%>
                <select class = "yellow" id="select-status" name="status" onchange="this.form.submit()">
                  <option value="Placed" >Placed</option>
                  <option value="Not Placed"  >Not placed</option>
                  <option value="Unknown"selected>Unknown</option>
              <%}%>
            </select>
          </form>
        <%}%>

      </div>
      <!-- this class includes the educational details of the student -->
      <div class = "about">
        <table>
          <tr>
            <th>Course </th>
            <th>-</th>
            <th>Score</th>
          </tr>
          <tr>
            <td>Data-structure & Algorithm</td>
            <td>-</td>
            
            <td><%= student.dsa %>/100</td>
          </tr>  
          <tr>
            <td>Web-Developement</td>
            <td>-</td>
            <td><%= student.web %>/100</td>
          </tr> 
          <tr>
            <td>React & Redux</td>
            <td>-</td>
            <td><%= student.react %>/100</td>
          </tr>           
        </table>
      </div>
      <!-- here creating form that will assign student to interviews -->
      
      <% if(locals.user && interviewList){%>      
        <form action="/interview/assign-student" method="get">
          <select id="select-status" name="interviewId" onchange="this.form.submit()">
            <option value="">assign any interview </option>

            <% for(let interview of interviewList){
              let flag = true;
               for(let assignedInterviews of student.interview){
                
                if(interview.id==assignedInterviews){
                  flag = false;
                  continue;
                }; 
              }if(flag){%>
              
              <option value=<%= interview.id %>><%= interview.name %></option>
            <%}}%>
          </select>
          <input type="hidden" name="studentId"value=<%=student.id%>>
        </form>
      <%}%>
    </div>  
    <% }}%>
    
</div>
